body, html {
  height: auto;
  width: 100%;
  margin: 0;
}

.bg {
  background-image: url(DJI_0068.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*html{
  position: relative;
  min-height: 100%;
}

body {
    background-image: url(DJI_0068.JPG);
    font-family: "Lato", sans-serif;
    background-repeat: no-repeat;
    margin: 0;
    padding:0;
    background-size: 100% 100%;
    
}
*/

/*video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}*/



h1 {
    color: black;
    text-align: center;
    font-family: Garamond, serif;
}

h4 {
    font-style: italic;
    text-align: center;
}

.main  {
    text-align: left;
    color: white;
    
    
}


.topnav {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: gray;
  color: black;
}

.topnav .active {
  background-color: #4CAF50;
  color: black;
}



 
 .topnav-centered a {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}


